#
# app_opts.sh
#
# Use this file to define JAVA_OPTS or CATALINA_OPTS. Used by both WAR and JAR packages.
#

# JVM related options go here. E.g., heap size, GC logging, JMX ports etc.
JVM_OPTS="{{ jvm_opts }}"

# Java related options go here. E.g., "Apollo", etc.
JAVA_OPTS="{{ java_opts }}"

# Application related options go here. E.g., "Eureka", etc.
APP_OPTS="{{ app_opts }}"